@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
.container-img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-avatar {
  max-width:12%;
  border-radius: 50%;

}
.image {
  text-align: end;
  padding-right: 10px;
  flex-basis: 100%;
}
.text {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #003F5B;

  /* padding-left: 10px; */
}
.my-custom-scrollbar {
  position: relative;
  height: 80vh;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
  
/* When the checkbox is checked, add a blue background */
.contian input:checked ~ .checkmark {
  background-color: #f47A14 !important;
}
/* The contian */
.contian {
  /* display: block; */
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.contian input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  /* top: 0; */
  margin-top: 3px !important;
  left: 0;
  border-radius: 4px;
  height: 15px;
  width: 15px;
  background-color: rgba(233, 129, 44, 0.200)  !important;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contian input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.contian .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
body{
  font-family: Poppins !important;
  
}
.font-px{
  font-size: 15px !important;
}
h6{
  color: white;
}
.flex-container {
  display: flex;
}
.flex-container > div {
  margin-top: 5px;
  margin-bottom: 5px;
  width:100%;
}
.input-bar{
  border-color: #ccc !important;
  box-shadow: none !important;
  border-right: none !important;
}
.search-btn{
  border-color: 1px solid #ccc !important;
  border-left:none ;
  box-shadow:none !important;
}
.search-btn:hover{
  outline: none !important;
  border-left:none ;
  box-shadow:none !important;
}
.search-bar:focus {
  border-color: #ffffff !important;
  box-shadow: 0 0 0 0.2rem rgba(233, 129, 44, 0.200) !important;
  /* outline: none !important;
  box-shadow: none !important; */
}
tr{
  position: relative;
}
.dropbtn {
  background-color: transparent;
  color: #DBDBDB;
  font-size: 16px;
  border: none;
}
.dropbtn:hover {
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  margin-top: 2px;
  position: absolute;
  background-color:white;
  min-width: 160px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #003F5B;
  font-size: 15px !important;
  padding: 2px 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
  color: #f47A14 !important;
}
.menu-btn:hover{
  color: white;
}

.dropdown:hover .dropdown-content {display: block;}

.stick-table{
  position: sticky;
  top: 0;
}
.div-width{
  margin-left: 10%;
}
.col-md-4, .col-md-8{
  padding-left: 0 !important;
  padding-right: 4 !important;
}
.wel-title{
  font-size: 20px !important; 
  line-height: 1 !important;
  padding-left: 15px !important;
   font-weight: 700 !important;
   color:#003F5B;
}
.icon-hover a:hover{
  color: #f47A14 !important;
}
.menu-btn{
  background-color: transparent;
  color: rgb(219, 219, 219);
  padding: 2px 2px;
  margin-left: 20px;
  border: none;
}
.serch-icon{
  font-size: 20px; 
}
.daterangepicker .ranges li.active {
  background-color: #003F5B !important;
  color: #fff !important;
}
.daterange{
  background-color: #003F5B;
  color: white;
  border: none;
  padding: 8px 8px ;
  border-radius: 5px;
  font-size: 12px;
  
}
.mark{
  background-color: rgb(207, 238, 197) !important;
}
.mark2{
  background-color: rgb(220, 230, 236) !important;
}
::placeholder {
  color: #d3d3d3 !important;
  opacity: 1 !important; 
}
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #003F5B;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .profile-text{
    font-size: 22px;
  }
  .avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .active{
    color: #f47A14 !important;
  }
  .sidenav a {
    padding: 6px 8px 6px 20px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    display: block;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .dropdown-menu{
    min-width: 20rem !important;
  }
  .main{
    /* margin-left: 250px; Same as the width of the sidenav */
    background-color: white !important;
    
  }
  .bgdark{
    background-color: #003F5B !important;
    color: white !important;
  }
  
  .profile-img{
    margin-left: 5%;
  }
  .icon-color{
    color: #f47A14;
  }
  .btnStyle{
    /* padding: 5px 30px !important; */
    background-color: #003F5B !important;
    width: 100px;

  }
  
  #btnStyle{
    padding: 0px 5px !important;
    background-color:#f47A14;
    color: white;
    border: none;
  }
  
  .tabs{
    margin-top: 20px;
  }
  .tab-btn{

    color: black;
    font-size: 15px;
    
  }
  .nav-link {
    display: block;
    padding: .5rem 1rem;
    color: black !important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    background-color: lightgrey;
  border-top-right-radius: 500px  !important;
  border-top-left-radius: 100px  !important;
  }
  

.nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #003F5B !important;
  /* border-bottom: 5px solid #f47A14 !important; */
 
}
.nav-tabs .nav-link {
  color: lightgrey !important;
  border: 1px solid lightgrey !important;
  padding: 10px 50px;
}

.calender{
  background: #003F5B; 
  cursor: pointer;
  font-size:12px;
  color: white;
   padding: 5px 10px !important; 
   border: 1px solid #ccc; 
   width:100%;
    border-radius: 5px;
}
.container-fluid{
  padding-right: 40px !important;
    padding-left: 40px !important;
}
.btn-active{
  color: white;
  border-bottom: solid 2px #f47A14 !important ;
}
.btnExport{
  width: 150px;
  border: 1px solid #f47A14 !important;
  background-color: white;
}
.cbx{
  font-size: 12px;

}
.quar{
  font-size: 12px;
  margin-left: 22px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey; 
  border-radius:10px;

}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightgray; 
}
.table{
  /* box-shadow: 2px black !important; */
  border-collapse:unset;
  table-layout: fixed;
  margin-left: 1px solid black !;
  
}
.table-head{
  width: 130px;
  color: black !important;
  font-weight: 500 !important;
}
.table tr:nth-child(even){
  background-color: #f8f8fc;
  z-index: -1;
}
.table  tr:last-child{
  border-bottom: 2px solid #003F5B !important;
}
table tr th{
  position: sticky !important;
  top: 0;
  z-index: 1;
  background-color: #f8f8fc !important;
}
.table tr td{
  border-top: none !important;
  border-bottom: none !important;
  padding: 0px 0px 0px 8px !important;
}

.table tr th:nth-child(1) {
  position: sticky;
  left: 0;
  z-index: 2;
  border-left: 2px solid black ;
}

.table tr th:nth-child(2) {
  position: sticky;
  left: 130px;
  z-index: 2;
}

 .table tr td:nth-child(1) {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white !important; 
  border-left: 1px solid black ;
  
}
.table tr td:nth-child(2) {
  position: sticky;
  left: 130px;
  z-index: 1;
  background-color: white !important;
  border-right: 1px solid black  !important;
} 



  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  